App/tbdRemote.Comum/obj/Debug/DesignTimeResolveAssemblyReferences.cache
App/tbdRemote.Comum/obj/
App/tbdRemote.Dominio/obj/
App/tbdRemote.Infra.Repositorio/obj/
App/tbdRemote.Negocio/obj/
packages/
App/tbdRemote.Servico.Api/obj/
App/tbdRemote.Infra.IoC/obj/
App/tbdRemote.Comum/bin/
App/tbdRemote.Dominio/bin/
App/tbdRemote.Infra.IoC/bin/
App/tbdRemote.Infra.Repositorio/bin/
App/tbdRemote.Negocio/bin/
App/tbdRemote.Servico.Api/bin/
tdbRemoteClient/obj/
tdbRemoteClient/bin/
.vs/
/App/tbdRemote.Negocio/RemoteCommand
App/tbdRemote.Servico.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/tbdRemote.sln.DotSettings.user
/App/tbdRemote.Servico.Api/tbdRemote.Service.Api.csproj.user
/App/tbdRemote.Servico/obj/Debug
/App/tbdRemote.Servico/bin/Debug
/App/tbdRemote.Servico/bin/Release
/App/tbdRemote.Servico/obj/Release
/App/tbdRemote.Servico/TBDKeepAliveSvc_TemporaryKey.pfx
/App/tbdRemote.Servico/TBDKeepAliveSvc.csproj.user
/App/tbdRemote.Servico.Api/*.user
/App/tbdRemote.Servico.Api/Properties/PublishProfiles
/App/tbdRemote.Servico.UpdateComm/bin/Debug
/App/tbdRemote.Servico.UpdateComm/obj/Debug
/App/tbdRemote.Servico.UpdateComm/TBDUpdateCommSvc.csproj.user
App/tbdRemote.Servico.UpdateComm/obj/
/App/tbdRemote.Servico.UpdateComm/bin/Release/amd64
/App/tbdRemote.Servico.UpdateComm/bin/Release
/App/tbdRemote.Servico/bin/theMonkies
/App/tbdRemote.Servico/obj/theMonkies
